<?xml version="1.0" encoding="UTF-8"?>
<menus>
  <menu id="1">
    <plato tipo="primero" id="Pri1" />
    <plato tipo="segundo" id="Seg6" />
    <plato tipo="postre" id="Pos1" />
  </menu>
  <menu id="2">
    <plato tipo="primero" id="Pri6" />
    <plato tipo="segundo" id="Seg1" />
    <plato tipo="postre" id="Pos2"/>
  </menu>
  <menu id="3">
    <plato tipo="primero" id="Pri5" />
    <plato tipo="segundo" id ="Seg5" />
    <plato tipo="postre" id="Pos3" />
  </menu>
  <menu id="4">
    <plato tipo="primero" id="Pri2" />
    <plato tipo="segundo" id="Seg4" />
    <plato tipo="postre" id="Pos3" />
  </menu>
  <menu id="5">
    <plato tipo="primero" id="Pri3" />
    <plato tipo="segundo" id="Seg3" />
    <plato tipo="postre" id="Pos1" />
  </menu>
  <menu id="6">
    <plato tipo="primero" id="Pri4" />
    <plato tipo="segundo" id="Seg6" />
    <plato tipo="postre" id="Pos2" />
  </menu>
  <menu id="7">
    <plato tipo="primero" id="Pri2" />
    <plato tipo="segundo" id="Seg6" />
    <plato tipo="postre" id="Pos3" />
  </menu>
  <menu id="8">
    <plato tipo="primero" id="Pri3" />
    <plato tipo="segundo" id="Seg2" />
    <plato tipo="postre" id="Pos2" />
  </menu>
  <menu id="9">
    <plato tipo="primero" id="Pri1" />
    <plato tipo="segundo" id="Seg3" />
    <plato tipo="postre" id="Pos3" />
  </menu>
  <menu id="10">
    <plato tipo="primero" id="Pri1" />
    <plato tipo="segundo" id="Seg5" />
    <plato tipo="postre" id="Pos1" />
  </menu>
</menus>